@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --coffee-bg: rgba(173, 94, 3, 0.75);
  --coffee-dark: rgb(80, 47, 10);
  --coffee-light: rgb(142, 73, 46);
  --dark-brown: rgb(80, 31, 0);
  --dark-grey: rgb(51, 51, 51);
  --light-grey: rgb(153, 153, 153);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  font-size: 62.5%; /* 1rem = 10px */
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--coffee-bg);
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 150rem;
}

.navbar ul {
  background-color: var(--coffee-dark);
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 1rem 0;
}

.navbar a {
  color: var(--white);
  font-variant: small-caps;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    background-color: var(--white);
    color: var(--coffee-light);
    text-decoration: underline;
  }
}

h1 {
  color: var(--white);
  font-size: 3rem;
  margin: 0;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 40rem;
}

label {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}

input[type="text"],
input[type="email"] {
  padding: 1rem;
}

input[type="submit"] {
  align-self: end;
  background-color: var(--coffee-light);
  border: none;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-size: 1.6rem;
  font-variant: small-caps;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  width: 15rem;
}

textarea {
  min-height: 10rem;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--coffee-dark);
}

@media (max-width: 600px) {
  h1 {
    text-align: center;
  }

  .navbar ul {
    align-items: center;
    flex-direction: column;
  }

  .navbar li {
    margin: 1rem 0;
  }

  .navbar a {
    font-size: 2rem;
  }

  main {
    padding: 0 1rem;
  }
}